{% extends "base.html.twig" %}

{% block page_title %}Survos Image Resizing Server{% endblock %}

{% block body %}
    <h1>Survos Image Resizing Server</h1>

    <div>
        This server manages the resizing for all images, including museado.org
    </div>


    {% for class, count in counts %}
        <h3>
            {{ class }}: {{ count }}
            {% for status, count in markingCounts[class] %}
                <li>{{ status }}: {{ count }}</li>
            {% endfor %}
        </h3>

    {% endfor %}

    Some stats here.

    Users used to be clients. :-(

    {% for u in users|default([]) %}
    <li>
        {{ u.id }}
        Media

    </li>
    {% endfor %}

    {% set belvedereUrl = 'https://sammlung.belvedere.at/internal/media/downloaddispatcher/130189?download=' %}
    {% set waltersUrl = 'https://art.thewalters.org/images/art/PS1_54.975_Fnt_DD_T08.jpg' %}
    {% set webhook = url('app_webhook') %}
    <a href="{{ webhook }}" target="_blank">
        Webhook as GET {{ webhook }}
    </a>


{% endblock %}
